h1 {
    margin-left: 40px;
}

.init {
    margin-left: 40px;
    font-weight: bold;
}
li {
    list-style-type: none;
}

ul.inactive {
    color:darkgrey;
}

ul.inactive {
    color:darkgrey;
}

ul.inactive button {
    color: darkgray;
}

ul.inactive input {
    accent-color: darkgray;
}

li.closed {
    text-decoration: line-through;
}

li.open {
    text-decoration: none;
}

#taskInput {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    min-width: 400px;
}

.task {
    display:flex;
    justify-content:space-between;
    width: 500px;
}

.taskButtons {
    min-width: 150px;
}